iframe{
	height:700px;
}
/*弹出框设置 start*/
#FHDialog{
	height:540px;
}
#Cchart1{
	width:525px;
	height:370px;
}
#fhchart1{
	width:855px;
	height:268px;
}
#fhchart2,#fhchart3{
	width:425px;
	height:242px;
}
/*弹出框设置 end*/